a, a:active, a:focus{
    outline: none;
    text-decoration: none;
    color: antiquewhite;
}
.nav-item{
    padding-top:5px;
}
.active-cyan-3 input[type=text] {
    border: 1px solid #4dd0e1;
    box-shadow: 0 0 0 1px #4dd0e1;
}
input,button{
   border-radius: 0.5rem;
}
.navbar{
    background-color: #000316;
    color: antiquewhite;
}
