a, a:active, a:focus{
    outline: none;
    text-decoration: none;
}
.nav-item{
    padding-top:5px;
}
.active-cyan-3 input[type=text] {
    border: 1px solid #4dd0e1;
    box-shadow: 0 0 0 1px #4dd0e1;
}