<div class="container">
    <nav class="navbar navbar-expand-sm fixed-top">
        <a class="navbar-brand" href="#">
          <img src="/assets/images/logo.png" alt="book the event" style="width:200px;height:auto;">
        </a>
        <button class="navbar-toggler navbar-light bg-light" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                <div class="input-group ml-6 " *ngIf="router.url == '/'">
                    <div class="input-group-append">
                        <a class="fa fa-search nav-link font-weight-bold" (click)="onSearch()">
                             Search
                        </a>
                    </div>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" [routerLink]="'/login'">LOGIN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" [routerLink]="'/register'">SIGN UP</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="container" *ngIf="router.url == '/business'">
    <nav class="navbar navbar-expand-sm fixed-top">
        <a class="navbar-brand" href="#">
            <img src="/assets/images/logo.png" alt="book the event" style="width:200px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" [routerLink]="'/login'">LOGOUT</a>
                </li>
            </ul>
        </div>
    </nav>
</div>