footer{
    padding-left:5%;
    padding-right:5%;
    padding-top:1%;
    padding-bottom:2%;
}
.details a{
    color: rgb(226, 219, 219);
}
a, a:active, a:focus{
    outline: none;
    text-decoration: none;
}
.event-item{
    padding:1%;
}