footer{
    padding-left:5%;
    padding-right:5%;
    padding-top:1%;
    padding-bottom:2%;
    background-color: #212529;
}
a, a:active, a:focus{
    outline: none;
    text-decoration: none;
    color:rgb(226, 219, 219);
}
.event-item{
    padding:2%;
    font-weight: bolder;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:10px;
	right:0.25em;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 2px #999;
    z-index:100;
}

.my-float{
	margin-top:16px;
}
.float1{
	position:fixed;
	width:60px;
	height:60px;
	bottom:10px;
	right:2.5em;
	background-color:#7ca77c;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 2px #999;
    z-index:100;
}

.my-float1{
	margin-top:16px;
}
.float2{
	position:fixed;
	width:60px;
	height:60px;
	bottom:10px;
	right:4.75em;
	background-color:#d4f3d4;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 2px #999;
    z-index:100;
}

.my-float2{
	margin-top:16px;
}
.addMore{
	border: none;
	background-color: #eee;
	transition: all ease-in-out 0.2s;
	cursor: pointer;
  }
.addMore:hover{
	border: 1px solid #888;
	background-color: #ddd;
  }
