<!-- Footer -->
<footer class="bg-dark text-white mt-4" >
    <div class="container-fluid py-3">
        <div class="row">
            <div class="col-md-3">
                <div class="event-item row"><a href="/findbusiness?keyword=Wedding">Wedding Event</a></div>
                <div class="event-item row"><a href="/findbusiness?keyword=matrimonial">Matrimonial Services</a></div>
                <div class="event-item row"><a href="/findbusiness?keyword=security">Event Security</a></div>
                
            </div>
            <div class="col-md-3">
                <div class="event-item row"><a href="/findbusiness?keyword=cakes">Cakes and Bakes</a></div>
                <div class="event-item row"><a href="/findbusiness?keyword=foodtruck">Food Truck</a></div>
                <div class="event-item row"><a href="/findbusiness?keyword=photography">Event Photography</a></div>
            </div>
            <div class="col-md-3">
                <div class="event-item row"><a href="/findbusiness?keyword=birthday">Birthday</a></div>    
                <div class="event-item row"><a href="/findbusiness?keyword=kids">Kids Party</a></div>
                <div class="event-item row"><a href="/findbusiness?keyword=catering">Catering</a></div>
                </div>
            <div class="col-md-3 details">
                <div class="row">  
                    <a class="navbar-brand ml-auto" href="#">
                    <img src="#" alt="book the event" style="width:120px;">
                    </a>
                </div>      
                <div class="row"><h6 class=" ml-auto"><a href="#">Contact Us</a></h6></div>
                <div class="row"><h6 class=" ml-auto"><a href="#">Terms & Condition</a></h6></div>
                <div class="row"><h6 class=" ml-auto"><a href="#">Refund and Cancellation Policy</a></h6></div>
                <div class="row "><h4 class=" ml-auto">
                    <a href="#" class="fa fa-facebook ml-2"></a>
                    <a href="#" class="fa fa-twitter ml-2"></a>
                    <a href="#" class="fa fa-instagram ml-2"></a>
                    <a href="#" class="fa fa-linkedin ml-2"></a>
                    <a href="#" class="fa fa-youtube ml-2"></a>
                </h4></div>
            </div>
        </div>
    </div>
</footer>
<!-- ./Footer -->