<div class="container">
    <div class="row">
        <div class="col-sm-10 col-md-10 col-lg-10 mx-auto">
        <div class="card card-signin my-5 search-filter">
        <div class="card-body">
            <br>
            <form #filterForm="ngForm" method="POST" (ngSubmit)="filterBusiness(filterForm.value)">
            <div class="row px-4">
                <div class="col-sm-4  mr-auto">
                    <label>Type of Service</label>
                    <select class="form-control custom-select" [(ngModel)]="model.businessType" name="businessType" #businessType="ngModel">
                            <option [ngValue]="undefined">Select Type of Service</option>
                            <option *ngFor="let b_type of b_type_keys();let i=index" [ngValue]="b_type">{{b_type_values()[i]}}</option>
                    </select>
                </div>
                <div class="col-sm-4  mr-auto ">
                        <label>Country</label>
                        <input type="text" class="form-control search-slt"  placeholder="Enter Country" [(ngModel)]="model.country" name="country" #country="ngModel" >
                </div>
                <div class="col-sm-4 mr-auto">
                    <label>State</label>
                    <input type="text" class="form-control search-slt round" placeholder="Enter State" [(ngModel)]="model.state" name="state" #state="ngModel">
                </div>
            </div>
            <div class="row px-4">
                <div class="col-sm-4 mr-auto">
                    <label>City</label>
                    <input type="text" class="form-control search-slt round" placeholder="Enter City" [(ngModel)]="model.city" name="city" #city="ngModel">
                </div>
                <div class="col-sm-4 mr-auto">
                        <label>Postal Code</label>
                        <input type="text" pattern="\d*" minlength="6" maxlength="6" class="form-control search-slt" placeholder="Enter Postal Code" [(ngModel)]="model.zipCode" name="zipCode" #zipCode="ngModel">
                </div>      
                <div class="col-sm-4 mr-auto"></div>    
            </div>
            <div class="row">   
                <div class="col-sm-4 mr-auto"></div>         
                <div class="col-sm-4 mr-auto text-center">
                    <button type="submit" class="btn btn-danger wrn-btn">Search</button>
                </div>
                <div class="col-sm-4 mr-auto"></div>    
            </div>
        </form>
            </div>
        </div>
        </div>
        <div class="col-sm-10 col-md-10 col-lg-10 mx-auto">
        <div class="box">
                <div class="container">
                     <div class="row">
                         
                        <div class="col-sm-12" *ngFor="let businessi of business;let  i=index">
                            <div class="box-part">
                                <!-- <i class="fa fa-joomla fa-3x" aria-hidden="true"></i> -->
                                <div class="title">
                                        <h2 class="mb-5 text-light text-center">
                                            <a href="https:\\{{businessi.websiteUrl}}" target="_blank" class="uppercase">{{businessi.businessName}}</a>
                                        </h2>
                                </div>
                                <div class="row ml-5">
                                    <div class="col-sm-4 font-weight-bold">
                                        Business Type:
                                    </div>
                                    <div class="col-sm-8 capitalize">
                                        {{businessi.businessType}}
                                    </div>
                                </div>
                                <div class="row ml-5">
                                    <div class="col-sm-4 font-weight-bold">
                                        Description:
                                    </div>
                                    <div class="col-sm-8 capitalize">
                                        {{businessi.businessDescription}}
                                    </div>
                                </div>
                                <div class="row ml-5">
                                    <div class="col-sm-4 font-weight-bold">
                                        Address:
                                    </div>
                                    <div class="col-sm-8 capitalize">

                                    </div>
                                </div>
                                <div class="row ml-5">
                                    <div class="col-sm-4 font-weight-bold">
                                        Phone Number:
                                    </div>
                                    <div class="col-sm-8 capitalize">

                                    </div>
                                </div>
                                <div class="row ml-5">
                                    <div class="col-sm-4 font-weight-bold">
                                        Services Provided:
                                    </div>
                                    <div class="col-sm-8 capitalize">

                                    </div>
                                </div>
                                <h6 class="mt-4 text-center"><a href="#" >View Profile</a></h6>
                                </div>
                                
                        </div>	 
                        
                    </div>		
                </div>
            </div>
        </div>
    </div>
</div>
  
