.search-sec{
    padding: 2rem;
}
.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius:0;
}
.wrn-btn{
    width: 70%;
    border-radius: 5rem;
}
select.round {
    /* reset */

    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    
    background-image:
        linear-gradient(135deg,black 50%, transparent 50%),
        linear-gradient(45deg, transparent 50%, black 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 15px) 1em,
        calc(100% - 20px) 1em,
        calc(100% - 1em) 1em;
    background-size:
        5px 5px,
        5px 5px,
        0px 0em;
    background-repeat: no-repeat;
    
    outline: 0;
}
.row,.col-sm-4{
    padding: 5px;
}
.form-control {
    height: auto;
    border-radius: 0.5rem;
}
a, a:active, a:focus{
    outline: none;
    text-decoration: none;
}  
.search-filter{
    height: 320px;
}
@media only screen and (max-width: 600px) {
    .search-filter{
        height: 90%;
    }
}  
  
.starrating > input {display: none;}  /* Remove radio buttons */

.starrating > label:before { 
  content: "\f005"; /* Star */
  margin: 2px;
  font-family: FontAwesome;
  display: inline-block; 
}

.starrating > label
{
  color: #222222; /* Start color when not clicked */
}

.starrating > input:checked ~ label
{ color: #ffca08 ; } /* Set yellow color when star checked */

.starrating > input:hover ~ label
{ color: #ffca08 ;  } /* Set yellow color when star hover */
