<div class="container" *ngIf="router.url == '/register/business'">
        <div class="card mx-auto">
        <div class="card-signin mx-auto">
        <div class="card-body">
        <h5 class="card-title text-center font-weight-bold">SIGN UP BUSINESS ACCOUNT</h5>
        <form class="form-signin" #businessForm="ngForm" (ngSubmit)="businessForm.form.valid && createBusiness(businessForm.value)" [mustMatch]="['password', 'confirmPassword']" novalidate>
        <div class="row">
                <div class="col-sm-6 form-group">
                        <label>First Name</label>    
                        <input type="text" class="form-control" required [(ngModel)]="model.firstName" name="firstName" #firstName="ngModel">
                        <div *ngIf="businessForm.submitted && firstName.invalid" class="alert alert-danger">
                        <div *ngIf="firstName.errors.required">First Name is required.</div>
                        </div>        
                </div>
                <div class=" col-sm-6 form-group">
                        <label>Last Name</label>  
                        <input type="text" class="form-control" required [(ngModel)]="model.lastName" name="lastName" #lastName="ngModel">
                        <div *ngIf="businessForm.submitted  && lastName.invalid" class="alert alert-danger">
                        <div *ngIf="lastName.errors.required">Last Name is required.</div>
                        </div> 
                </div>
        </div> 
        <div class="row">  
                <div class="col-sm-12 form-group">
                        <label>Email ID</label>  
                        <input type="text" class="form-control" required [(ngModel)]="model.email" name="email" #email="ngModel" email>
                        <div *ngIf="businessForm.submitted  && email.invalid" class="alert alert-danger">
                        <div *ngIf="email.errors.required">Email ID is required.</div>
                        <div *ngIf="email.errors.email">Email ID is not valid.</div>
                        </div>
                </div>
        </div>
        <hr class="my-4">
        <div class="row">        
                <div class=" col-sm-6 form-group ">
                        <label>Business Type</label>
                        <select class="form-control custom-select" required [(ngModel)]="model.businessType" name="businessType" #businessType="ngModel">
                                <option [ngValue]="null">Select Business Type</option>
                                <option *ngFor="let b_type of b_type_keys();let i=index" [ngValue]="b_type">{{b_type_values()[i]}}</option>
                        </select>
                        <div *ngIf="businessForm.submitted  && businessType.invalid" class="alert alert-danger">
                        <div *ngIf="businessType.errors.required">Business Type is required.</div>
                        </div>
                </div>
                <div class=" col-sm-6 form-group ">
                        <label>Business Est. Date</label>
                        <input type="text" class="form-control"  required [(ngModel)]="model.businessEstDate" name="businessEstDate" #businessEstDate="ngModel">
                        <div *ngIf="businessForm.submitted  && businessEstDate.invalid" class="alert alert-danger">
                        <div *ngIf="businessEstDate.errors.required">Business Est. Date is required.</div>
                        </div>
                </div>
        </div>  
        <div class="row">        
                <div class=" col-sm-12 form-group ">
                        <label>Business Name</label>
                        <input type="text" class="form-control"  required [(ngModel)]="model.businessName" name="businessName" #businessName="ngModel">
                        <div *ngIf="businessForm.submitted  && businessName.invalid" class="alert alert-danger">
                        <div *ngIf="businessName.errors.required">Business Name is required.</div>
                        </div>
                </div>
        </div> 
        <div class="row">        
                <div class=" col-sm-12 form-group ">
                        <label>Business URL</label>
                        <input type="url" class="form-control" required [(ngModel)]="model.websiteUrl" name="websiteUrl" #websiteUrl="ngModel">
                        <div *ngIf="businessForm.submitted  && websiteUrl.invalid" class="alert alert-danger">
                        <div *ngIf="websiteUrl.errors.required">Business URL is required.</div>
                        </div>
                </div>
        </div>
        <div class="row">        
                <div class=" col-sm-12 form-group ">
                        <label>Description</label>
                        <textarea rows="3" class="form-control" required [(ngModel)]="model.businessDescription" name="businessDescription" #businessDescription="ngModel"></textarea>
                        <div *ngIf="businessForm.submitted  && businessDescription.invalid" class="alert alert-danger">
                        <div *ngIf="businessDescription.errors.required">Description is required.</div>
                        </div>
                </div>
        </div>
        <div class="row">     
                <div class=" col-sm-12 form-group ">
                        <label>Services Provided</label>
                        <select class="custom-select"  required [(ngModel)]="model.servicesProvided" name="servicesProvided" #servicesProvided="ngModel" multiple="multiple" >
                        <option [ngValue]="null" disabled>Click or use Ctrl to select multiple services.</option>
                        <option *ngFor="let sub_b_type of sub_b_type_keys();let i=index" [ngValue]="sub_b_type">
                                {{sub_b_type_values()[i]}}</option>
                        
                        </select>
                </div>
        </div>
        <hr class="my-4">
        <div class="row">
                <div class=" col-sm-12 form-group">
                        <label>Address Type</label>  
                        <select class="form-control" required (change)="onAddressTypeChange($event)" [(ngModel)]="model.addressType" name="addressType" #addressType="ngModel">
                        <option value="HOME">Home</option>
                        <option value="OFFICE">Office</option>
                        </select>
                        
                </div>
       </div>
        <div class="row">
                <div class=" col-sm-12 form-group">
                        <label>Address Line 1</label>  
                        <input type="text" class="form-control address-1" required #addressline1 [(ngModel)]="model.addressLine1" name="addressLine1" #addressLine1="ngModel">
                        <div *ngIf="businessForm.submitted  && addressLine1.invalid" class="alert alert-danger">
                        <div *ngIf="addressLine1.errors.required">Address Line 1 is required.</div>
                        </div>        
                </div>
       </div>  
        <div class="row">
                <div class=" col-sm-12 form-group">
                        <label>Address Line 2</label>
                        <input type="text" class="form-control address-1"  #addressline2 [(ngModel)]="model.addressLine2" name="addressLine2" #addressLine2="ngModel">
                </div>
        </div>
        <div class="row">        
                <div class=" col-sm-12 form-group ">
                        <label>Landmark</label>
                        <input type="text" class="form-control address-1" #landmark [(ngModel)]="model.landmark" name="landmark" #landmark="ngModel" >
                </div>
        </div>  
        <div class="row">
                <div class=" col-sm-6 form-group ">
                        <label>Pin Code</label>
                        <input type="text" pattern="\d*" class="form-control address-1"  maxlength="6" minlength="6" required #pincode [(ngModel)]="model.pincode" name="pincode" #pincode="ngModel" >
                        <div *ngIf="businessForm.submitted  && pincode.invalid" class="alert alert-danger">
                        <div *ngIf="pincode.errors.required">Pincode is required.</div>
                        <div *ngIf="pincode.errors.minlength">Pincode is less than 6 digits.</div>
                        </div>
                </div>
                <div class=" col-sm-6 form-group ">
                        <label>Country</label>
                        <input type="text" class="form-control address-1"  required #country [(ngModel)]="model.country" name="country" #country="ngModel" >
                        <div *ngIf="businessForm.submitted  && country.invalid" class="alert alert-danger">
                        <div *ngIf="country.errors.required">Country is required.</div>
                        </div>
                </div>
        </div>                
        <div class="row">
                <div class=" col-sm-6 form-group ">
                        <label>State</label>
                        <input type="text" class="form-control address-1"  required #state [(ngModel)]="model.state" name="state" #state="ngModel" >
                        <div *ngIf="businessForm.submitted  && state.invalid" class="alert alert-danger">
                        <div *ngIf="state.errors.required">State is required.</div>
                        </div>
                </div>
                <div class=" col-sm-5 form-group " id="city_field1">
                        <label>City</label>
                        <input type="text" class="form-control address-1"  required #city [(ngModel)]="model.city" name="city" #city="ngModel" >
                        <div *ngIf="businessForm.submitted  && city.invalid" class="alert alert-danger">
                        <div *ngIf="city.errors.required">City is required.</div>
                </div>
                </div>
                <div class=" col-sm-1 form-group " *ngIf="sameAddress!=true" id="another_address"> 
                        <button type="button" class="add-btn" (click)="addAnotherAddress();">
                                <span class="fa fa-plus"></span>
                        </button> 
                </div>
        </div>
        <div class="row mr-auto" *ngIf="replicateAddressCheckbox==true">
                <div class="col-sm-1 form-group"> 
                        <input type="checkbox" (click)="onChangeCheckbox($event,addressline1.value,addressline2.value,landmark.value,pincode.value,country.value,state.value,city.value);"></div>
                        <div class="col-sm-11 form-group"  *ngIf="model.addressType =='HOME'">
                        <label > Check if Office Address same as Home Address</label>
                        </div>
                <div class="col-sm-11 form-group" *ngIf="model.addressType=='OFFICE'">
                        <label > Check if Home Address same as Office Address</label>
                </div>
        </div>      
        <hr class="my-4" *ngIf="officeAddress1==true || sameAddress==true">
        <div class="row" *ngIf="officeAddress1==true || sameAddress==true">
                <div class=" col-sm-12 form-group">
                        <label>Address Type</label>  
                        <select class="form-control" required  id="address_type2" (change)="onAddressTypeChange1($event)" [(ngModel)]="model.secondary_addressType" name="secondary_addressType" #secondary_addressType="ngModel">
                        <option value="HOME">Home</option>
                        <option value="OFFICE">Office</option>
                        </select>
                        <div *ngIf="businessForm.submitted  && secondary_addressType.invalid" class="alert alert-danger">
                        <div *ngIf="secondary_addressType.errors.required">Address Type is required.</div>
                        </div>
                </div>
        </div>
        <div class="row" *ngIf="officeAddress1==true || sameAddress==true">
                <div class=" col-sm-12 form-group">
                        <label>Address Line 1</label>
                        <input type="text" class="form-control address-2" required [(ngModel)]="model.secondary_addressLine1" name="secondary_addressLine1" #secondary_addressLine1="ngModel">
                        <div *ngIf="businessForm.submitted  && secondary_addressLine1.invalid" class="alert alert-danger">
                        <div *ngIf="secondary_addressLine1.errors.required">Address Line 1 is required.</div>
                        </div>
                </div>
        </div>  
        <div class="row" *ngIf="officeAddress1==true || sameAddress==true">
                <div class=" col-sm-12 form-group">
                        <label>Address Line 2</label>
                        <input type="text" class="form-control address-2" [(ngModel)]="model.secondary_addressLine2" name="secondary_addressLine2" #secondary_addressLine2="ngModel">
                </div>
        </div>
        <div class="row" *ngIf="officeAddress1==true || sameAddress==true">        
                <div class=" col-sm-12 form-group ">
                        <label>Landmark</label>
                        <input type="text" class="form-control address-2" [(ngModel)]="model.secondary_landmark" name="secondary_landmark" #secondary_landmark="ngModel">
                </div>
        </div>  
        <div class="row" *ngIf="officeAddress1==true || sameAddress==true">
                <div class=" col-sm-6 form-group ">
                        <label>Pin Code</label>
                        <input type="text" pattern="\d*" class="form-control address-2"  maxlength="6" minlength="6" required [(ngModel)]="model.secondary_pincode" name="secondary_pincode" #secondary_pincode="ngModel">
                        <div *ngIf="businessForm.submitted  && secondary_pincode.invalid" class="alert alert-danger">
                        <div *ngIf="secondary_pincode.errors.required">Pincode is required.</div>
                        <div *ngIf="secondary_pincode.errors.minlength">Pincode is less than 6 digits.</div>
                        </div>        
                </div>
                <div class=" col-sm-6 form-group ">
                        <label>Country</label>
                        <input type="text" class="form-control address-2"  required [(ngModel)]="model.secondary_country" name="secondary_country" #secondary_country="ngModel">
                        <div *ngIf="businessForm.submitted  && secondary_country.invalid" class="alert alert-danger">
                        <div *ngIf="secondary_country.errors.required">Country is required.</div>
                        </div>        
                </div>
        </div>                
        <div class="row" *ngIf="officeAddress1==true || sameAddress==true">
                <div class=" col-sm-6 form-group ">
                        <label>State</label>
                        <input type="text" class="form-control address-2"  required [(ngModel)]="model.secondary_state" name="secondary_state" #secondary_state="ngModel">
                        <div *ngIf="businessForm.submitted  && secondary_state.invalid" class="alert alert-danger">
                        <div *ngIf="secondary_state.errors.required">State is required.</div>
                        </div>
                </div>  
                <div class=" col-sm-6 form-group " *ngIf="sameAddress==true">
                        <label>City</label>
                        <input type="text" class="form-control address-2"  required  [(ngModel)]="model.secondary_city" name="secondary_city" #secondary_city="ngModel">
                        <div *ngIf="businessForm.submitted  && secondary_city.invalid" class="alert alert-danger">
                        <div *ngIf="secondary_city.errors.required">City is required.</div>
                        </div>
                </div>
                <div class=" col-sm-5 form-group " *ngIf="sameAddress!=true">
                        <label>City</label>
                        <input type="text" class="form-control address-2"  required [(ngModel)]="model.secondary_city" name="secondary_city" #secondary_city="ngModel">
                        <div *ngIf="businessForm.submitted  && secondary_city.invalid" class="alert alert-danger">
                        <div *ngIf="secondary_city.errors.required">City is required.</div>
                        </div>
                </div>
                <div class=" col-sm-1 form-group " *ngIf="sameAddress!=true"> 
                        <button type="button" class="add-btn" (click)="removeAddress();">
                                <span class="fa fa-remove"></span>
                        </button> 
                </div>
        </div>
        <hr class="my-4">
        <div class="row">
                <div class=" col-sm-2 form-group">
                        <label>Ext.</label>  
                        <input type="text" pattern="\d*" minlength="2" maxlength="2" class="form-control" [(ngModel)]="model.extension1" name="extension1" #extension1="ngModel">
                        <div *ngIf="businessForm.submitted  && extension1.invalid" class="alert alert-danger">
                        <div *ngIf="extension1.errors.required">Extension is required.</div>
                        </div> 
                </div>        
                <div class=" col-sm-4 form-group">
                        <label>Phone Number</label>  
                        <input type="text" pattern="\d*" class="form-control" minlength="10" maxlength="10" required [(ngModel)]="model.phoneNumber1" name="phoneNumber1" #phoneNumber1="ngModel" >
                        <div *ngIf="businessForm.submitted  && phoneNumber1.invalid" class="alert alert-danger">
                        <div *ngIf="phoneNumber1.errors.required">Phone Number is required.</div>
                        <div *ngIf="phoneNumber1.errors.minlength">Phone Number is less than 10 digits.</div>
                        </div>
                </div>
                <div class=" col-sm-5 form-group "> 
                        <label>Phone Type</label>
                        <select type="text" class="form-control"  required ngModel name="phoneType1" #phoneType1="ngModel" #phoneType1="ngModel" >
                        <option value="" disabled>Select Type</option>
                        <option value="HOME">HOME</option>
                        <option value="MOBILE">MOBILE</option>
                        <option value="OFFICE">OFFICE</option>
                        </select>
                        <div *ngIf="businessForm.submitted  && phoneType1.invalid" class="alert alert-danger">
                        <div *ngIf="phoneType1.errors.required">
                        Phone Number Type is required.
                        </div>
                        </div>
                </div>
                <div class=" col-sm-1 form-group "> 
                <button type="button" class="add-btn" (click)="addAnotherPhoneNumber();">
                        <span class="fa fa-plus"></span>
                </button> 
                </div>
        </div>
        <div class="row" *ngIf="phonenumber1==true">
                <div class=" col-sm-2 form-group">
                        <label>Ext.</label>  
                        <input type="text" pattern="\d*" minlength="2" maxlength="2" class="form-control"  required [(ngModel)]="model.extension2" name="extension2" #extension2="ngModel">
                        <div *ngIf="businessForm.submitted  && extension2.invalid" class="alert alert-danger">
                        <div *ngIf="extension2.errors.required">Extension is required.</div>
                        </div>
                </div> 
                <div class=" col-sm-4 form-group">
                                <label>Phone Number</label>  
                                <input type="text" pattern="\d*" pattern="\d*" class="form-control" required [(ngModel)]="model.phoneNumber2" name="phoneNumber2" #phoneNumber2="ngModel">
                                <div *ngIf="businessForm.submitted  && phoneNumber2.invalid" class="alert alert-danger">
                                <div *ngIf="phoneNumber2.errors.required">Phone Number is required.</div>
                                <div *ngIf="phoneNumber2.errors.minlength">Phone Number is less than 10 digits.</div>
                                </div>
                </div>
                <div class=" col-sm-5 form-group "> 
                        <label>Phone Type</label>
                        <select type="text" class="form-control"  required ngModel name="phoneType2" #phoneType2="ngModel">
                        <option value="" disabled>Select Type</option>
                        <option value="HOME">HOME</option>
                        <option value="MOBILE">MOBILE</option>
                        <option value="OFFICE">OFFICE</option>
                        </select>
                        <div *ngIf="businessForm.submitted  && phoneType2.invalid" class="alert alert-danger">
                        <div *ngIf="phoneType2.errors.required">Phone Number Type is required.</div>
                        </div>
                </div>
                <div class=" col-sm-1 form-group "> 
                <button type="button" class="add-btn" (click)="removePhoneNumber1();">
                        <span class="fa fa-remove"></span>
                </button> 
                </div>
        </div>
        <div class="row" *ngIf="phonenumber2==true">
                <div class=" col-sm-2 form-group">
                        <label>Ext.</label>  
                        <input type="text" pattern="\d*" minlength="2" maxlength="2" class="form-control" required [(ngModel)]="model.extension3" name="extension3" #extension3="ngModel">
                        <div *ngIf="businessForm.submitted  && extension3.invalid" class="alert alert-danger">
                        <div *ngIf="extension3.errors.required">Extension is required.</div>
                        </div>
                </div> 
                <div class=" col-sm-4 form-group">
                        <label>Phone Number</label>  
                        <input type="text" pattern="\d*" class="form-control" minlength="10" maxlength="10" required [(ngModel)]="model.phoneNumber3" name="phoneNumber3" #phoneNumber3="ngModel">
                        <div *ngIf="businessForm.submitted  && phoneNumber3.invalid" class="alert alert-danger">
                        <div *ngIf="phoneNumber3.errors.required">Phone Number is required.</div>
                        <div *ngIf="phoneNumber3.errors.minlength">Phone Number is less than 10 digits.</div>
                        </div>
                </div>
                <div class=" col-sm-5 form-group "> 
                        <label>Phone Type</label>
                        <select type="text" class="form-control"  required ngModel name="phoneType3" #phoneType3="ngModel">
                        <option value="" disabled>Select Type</option>
                        <option value="HOME">HOME</option>
                        <option value="MOBILE">MOBILE</option>
                        <option value="OFFICE">OFFICE</option>
                        </select>
                        <div *ngIf="businessForm.submitted  && phoneType3.invalid" class="alert alert-danger">
                        <div *ngIf="phoneType3.errors.required">Phone Number Type is required.</div>
                        </div>
                </div>
                <div class=" col-sm-1 form-group "> 
                <button type="button" class="add-btn" (click)="removePhoneNumber2();">
                        <span class="fa fa-remove"></span>
                </button> 
                </div>
        </div>
        <hr class="my-4">
        <div class="row">  
                <div class="col-sm-12 form-group">
                        <label>Username</label>  
                        <input type="text" class="form-control" required [(ngModel)]="model.userName" name="userName" #userName="ngModel">
                        <div *ngIf="businessForm.submitted  && userName.invalid" class="alert alert-danger">
                        <div *ngIf="userName.errors.required">
                        User Name is required.
                        </div>
                </div>
        </div>
        </div>       
        <div class="row">
                <div class="col-sm-12 form-group">
                        <label>Password</label>
                        <input type="password" class="form-control"  required [(ngModel)]="model.password" name="password" #password="ngModel">
                        <div *ngIf="businessForm.submitted  && password.invalid" class="alert alert-danger">
                        <div *ngIf="password.errors.required">
                        Password is required.
                        </div>
                        </div>
                </div>
        </div>
        <div class="row">    
                <div class="col-sm-12 form-group">
                        <label>Confirm your Password</label>
                        <input type="password" class="form-control" required [(ngModel)]="model.confirmPassword" name="confirmPassword" #confirmPassword="ngModel">
                        <div *ngIf="businessForm.submitted  && confirmPassword.invalid" class="alert alert-danger">
                        <div *ngIf="confirmPassword.errors.required">Confirm Password is required.</div>
                        <div *ngIf="confirmPassword.errors.mustMatch">Passwords must match</div>
                </div>
        </div>
        </div>    
        <div class="row mr-auto">
                <div class="col-sm-12 form-group"> 
                <input type="checkbox" class="mr-3" required [(ngModel)]="model.agreeTandC" name="agreeTandC" #agreeTandC="ngModel">
                <label > I agree <a href="#">terms and conditions</a> of service.</label>
                <div *ngIf="businessForm.submitted  && agreeTandC.invalid" class="alert alert-danger">
                <div *ngIf="agreeTandC.errors.required">Read and check the terms and condition checkbox.</div>
                </div>   
                </div>     
        </div> 
                <button class="btn btn-lg btn-primary btn-block text-uppercase mx-auto" type="submit" >Sign Up</button>
        </form>
        <hr class="my-4">
        <div class="text-center">
                Already have an account? <a  [routerLink]="'/login'">Log In</a>        
        </div>
        <hr class="my-4">
        </div>
        </div>
        </div>
</div>
<div class="container emp-profile" *ngIf="router.url == '/business'">

        <div class="row">
                <div class="col-sm-4">
                        <div class="row mb-3">
                                <img src="./assets/images/logo.png" alt="book the event" class="mx-auto" style="width: 250px;height:150px;">
                        </div>
                </div>        
                <div class="col-md-8 mt-5">
                        <ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
                        <li class="nav-item">
                                <a class="nav-link active text-dark" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Timeline</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link text-dark" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Edit Profile</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link text-dark" id="change_password-tab" data-toggle="tab" href="#change_password" role="tab" aria-controls="change_password" aria-selected="false">Change Password</a>
                        </li>
                        </ul>
                </div>
        </div>
        <br>
        <div class="row">
        <div class="col-sm-4 mb-5">
                <div class="ml-5 d-none d-sm-none d-md-block">
                        <div class="row">
                                Welcome,
                        </div> 
                        <div class="row">
                                <h4>{{business_name}}</h4>
                        </div> 
                        <div class="row">
                        <h6><strong><em>{{business_type}}</em></strong></h6>
                        </div>
                        <br>
                        <div class="row">
                        <h6><strong>Address: </strong></h6>
                        </div>
                        <div class="row">
                        <h6>{{business_address.OFFICE.business_addressline1}} </h6>
                        </div>
                        <div class="row">
                        <h6>{{business_address.OFFICE.business_addressline2}} </h6>
                        </div>
                        <div class="row">
                        <h6>{{business_address.OFFICE.business_landmark}} </h6>
                        </div>
                        <div class="row">
                        <h6>{{business_address.OFFICE.business_city}}, {{business_address.OFFICE.business_state}} </h6>
                        </div>
                        <div class="row">
                        <h6>{{business_address.OFFICE.business_country}} - {{business_address.OFFICE.business_pincode}}</h6>
                        </div>
                        <br>
                        <div class="row">
                        <h6><strong>Phone Number: </strong></h6>
                        </div>
                        <div class="row">
                        <h6>{{business_phone_number.HOME}},{{business_phone_number.OFFICE}}</h6>
                        </div>
                </div>
                
                
        </div>
        <div class="col-sm-7">
                <div class="tab-content" >
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <form #editBusinessForm (onSubmit)="editformsubmitted && editBusinessForm.form.valid">
                        <br>        
                        <div class="row">
                        <div class="col-sm-4">
                                <label>Business Name</label>
                        </div>
                        <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{business_name}}">
                        </div>
                        </div>
                        <br>
                        <div class="row">
                        <div class="col-sm-4">
                                <label>Business Type</label>
                        </div>
                        <div class="col-sm-8">
                                <select class="form-control custom-select">
                                        <option *ngFor="let b_type of b_type_keys();let i=index"  [selected]="b_type == business_type" value="{{b_type}}">{{b_type_values()[i]}}</option>
                                </select>
                        </div>
                        </div>
                        <br>
                        <div class="row">
                        <div class="col-sm-4">
                                <label>Description</label>
                        </div>
                        <div class="col-sm-8">
                                <textarea type="text" class="form-control" value="{{business_description}}"></textarea>
                        </div>
                        </div>
                        <br>
                        <div class="row">
                        <div class="col-sm-4">
                                <label>Address Type</label>
                        </div>
                        <div class="col-sm-8">
                                <select class="form-control custom-select" #addressType (change)="onAddressTypeChange($event)">
                                        <option value="HOME">Home</option>
                                        <option value="OFFICE">Office</option>
                                </select>
                        </div>
                        </div>
                        <br> 
                        <div [hidden]="addresstypevalue != 'HOME'">   
                        <div class="row">
                        <div class="col-sm-4">
                                <label>Address Line 1</label>
                        </div>
                        <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{business_address.HOME.business_addressline1}}">
                        </div>
                        </div>
                        <br>
                        <div class="row">
                        <div class="col-sm-4">
                                <label>Address Line 2</label>
                        </div>
                        <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{business_address.HOME.business_addressline2}}">
                        </div>
                        </div>
                        <br>
                        <div class="row">
                        <div class="col-sm-4">
                                <label>Landmark</label>
                        </div>
                        <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{business_address.HOME.business_landmark}}">
                        </div>
                        </div>
                        <br>
                        <div class="row">
                        <div class="col-sm-4">
                                <label>Country</label>
                        </div>
                        <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{business_address.HOME.business_country}}">
                        </div>
                        </div>
                        <br>
                        <div class="row">
                        <div class="col-sm-4">
                                <label>City</label>
                        </div>
                        <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{business_address.HOME.business_city}}">
                        </div>
                        </div>
                        <br>
                        <div class="row">
                        <div class="col-sm-4">
                                <label>Pincode</label>
                        </div>
                        <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{business_address.HOME.business_pincode}}">
                        </div>
                        </div>
                        </div>
                        <div [hidden]="addressType.value != 'OFFICE'">
                        <div class="row">
                        <div class="col-sm-4">
                                <label>Address Line 1</label>
                        </div>
                        <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{business_address.OFFICE.business_addressline1}}">
                        </div>
                        </div>
                        <br>
                        <div class="row">
                        <div class="col-sm-4">
                                <label>Address Line 2</label>
                        </div>
                        <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{business_address.OFFICE.business_addressline2}}">
                        </div>
                        </div>
                        <br>
                        <div class="row">
                        <div class="col-sm-4">
                                <label>Landmark</label>
                        </div>
                        <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{business_address.OFFICE.business_landmark}}">
                        </div>
                        </div>
                        <br>
                        <div class="row">
                        <div class="col-sm-4">
                                <label>Country</label>
                        </div>
                        <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{business_address.OFFICE.business_country}}">
                        </div>
                        </div>
                        <br>
                        <div class="row">
                        <div class="col-sm-4">
                                <label>City</label>
                        </div>
                        <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{business_address.OFFICE.business_city}}">
                        </div>
                        </div>
                        <br>
                        <div class="row">
                        <div class="col-sm-4">
                                <label>Pincode</label>
                        </div>
                        <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{business_address.OFFICE.business_pincode}}">
                        </div>
                        </div>
                        </div>
                        <br>
                        <div class="row">
                        <div class="col-sm-4">
                                <label>Phone Number Type</label>
                        </div>
                        <div class="col-sm-8">
                                <select class="form-control custom-select" #phoneNumberType (change)="onPhoneTypeChange($event);">
                                        <option value="HOME">Home</option>
                                        <option value="OFFICE">Office</option>
                                        <option value="MOBILE">Mobile</option>
                                </select>
                        </div>
                        </div>
                        <br>   
                        <div class="row" [hidden]="phoneNumberType.value != 'HOME'">
                        <div class="col-sm-4">
                                <label>Phone Number</label>
                        </div>
                        <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{business_phone_number.HOME}}">
                        </div>
                        </div>
                        <div class="row" [hidden]="phoneNumberType.value != 'OFFICE'">
                        <div class="col-sm-4">
                                <label>Phone Number</label>
                        </div>
                        <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{business_phone_number.OFFICE}}">
                        </div>
                        </div>
                        <div class="row" [hidden]="phoneNumberType.value != 'MOBILE'">
                        <div class="col-sm-4">
                                <label>Phone Number</label>
                        </div>
                        <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{business_phone_number.MOBILE}}">
                        </div>
                        </div>
                        <br>
                        <div class="row">
                        <div class="col-sm-4">
                                <label>Services Provided</label>
                        </div>
                        <div class="col-sm-8">
                                <textarea class="form-control" value="{{services_provided}}" ></textarea>
                        </div>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                                <button class="edit-btn btn btn-dark text-uppercase mx-auto p-2" type="submit" (click)="onEditForm()">Update</button>
                        </div>
                </form>        
                </div>
                <div class="tab-pane fade" id="change_password" role="tabpanel" aria-labelledby="change_password-tab">
                <form #changePasswordForm="ngForm" (ngSubmit)="passwordsubmitted && changePasswordForm.form.valid" [mustMatch]="['newPassword', 'confirmNewPassword']"  novalidate>
                <div class="row">
                <div class="col-sm-5">
                        <label>Current Password</label>
                </div>
                <div class="col-sm-7">
                                <input type="password" class="form-control" required [(ngModel)]="model1.password" name="password" #password="ngModel">
                                <div *ngIf="passwordsubmitted &&  password.invalid" class="alert alert-danger">
                                <div *ngIf="password.errors.required">Password is required.</div>
                                </div>
                        </div>
                </div>
                <br>
                <div class="row">
                <div class="col-sm-5">
                        <label>Change Password</label>
                </div>
                <div class="col-sm-7">
                                <input type="password" class="form-control" required [(ngModel)]="model1.newPassword" name="newPassword" #newPassword="ngModel">
                                <div *ngIf="passwordsubmitted &&  newPassword.invalid" class="alert alert-danger">
                                <div *ngIf="newPassword.errors.required">Password is required.</div>
                                </div>
                </div>
                </div>
                <br>
                <div class="row">
                <div class="col-sm-5">
                        <label>Confirm Change Password</label>
                </div>
                <div class="col-sm-7">
                        <input type="password" class="form-control" required [(ngModel)]="model1.confirmNewPassword" name="confirmNewPassword" #confirmNewPassword="ngModel">
                        <div *ngIf="passwordsubmitted && confirmNewPassword.invalid" class="alert alert-danger">
                        <div *ngIf="confirmNewPassword.errors.required">Confirm Password is required.</div>
                        <div *ngIf="confirmNewPassword.errors.mustMatch">Passwords must match</div>
                        </div>
                </div>
                </div>
                <br>
                <div class="row">
                        <button class="edit-btn btn btn-dark text-uppercase p-2 mx-auto" type="submit" (click)="onChangePasswordForm()">Update</button>
                </div>
                </form>
                </div>
        </div>
        </div>
       </div>
         
</div>