<div class="container" *ngIf="router.url == '/register/business'">
        <div class="card mx-auto">
        <div class="card-signin mx-auto">
        <div class="card-body">
        <h5 class="card-title text-center font-weight-bold">SIGN UP BUSINESS ACCOUNT</h5>
        <form class="form-signin" #businessForm="ngForm" (ngSubmit)="businessForm.form.valid && onSubmit()" [mustMatch]="['password', 'confirmPassword']" novalidate>
        <div class="row">
                <div class="col-sm-6 form-group">
                        <label>First Name</label>    
                        <input type="text" class="form-control" required [(ngModel)]="model.firstName" name="firstName" #firstName="ngModel">
                        <div *ngIf="businessForm.submitted && firstName.invalid" class="alert alert-danger">
                        <div *ngIf="firstName.errors.required">First Name is required.</div>
                        </div>        
                </div>
                <div class=" col-sm-6 form-group">
                        <label>Last Name</label>  
                        <input type="text" class="form-control" required [(ngModel)]="model.lastName" name="lastName" #lastName="ngModel">
                        <div *ngIf="businessForm.submitted  && lastName.invalid" class="alert alert-danger">
                        <div *ngIf="lastName.errors.required">Last Name is required.</div>
                        </div> 
                </div>
        </div> 
        <div class="row">  
                <div class="col-sm-12 form-group">
                        <label>Email ID</label>  
                        <input type="text" class="form-control" required [(ngModel)]="model.email" name="email" #email="ngModel" email>
                        <div *ngIf="businessForm.submitted  && email.invalid" class="alert alert-danger">
                        <div *ngIf="email.errors.required">Email ID is required.</div>
                        <div *ngIf="email.errors.email">Email ID is not valid.</div>
                        </div>
                </div>
        </div>
        <hr class="my-4">
        <div class="row">        
                <div class=" col-sm-6 form-group ">
                        <label>Business Type</label>
                        <select class="form-control custom-select" required [(ngModel)]="model.businessType" name="businessType" #businessType="ngModel">
                                <option [ngValue]="null">Select Business Type</option>
                                <option *ngFor="let b_type of b_type_keys();let i=index" [ngValue]="b_type">{{b_type_values()[i]}}</option>
                        </select>
                        <div *ngIf="businessForm.submitted  && businessType.invalid" class="alert alert-danger">
                        <div *ngIf="businessType.errors.required">Business Type is required.</div>
                        </div>
                </div>
                <div class=" col-sm-6 form-group ">
                        <label>Business Name</label>
                        <input type="text" class="form-control"  required [(ngModel)]="model.businessName" name="businessName" #businessName="ngModel">
                        <div *ngIf="businessForm.submitted  && businessName.invalid" class="alert alert-danger">
                        <div *ngIf="businessName.errors.required">Business Name is required.</div>
                        </div>
                </div>
        </div>  
        <div class="row">        
                <div class=" col-sm-12 form-group ">
                        <label>Description</label>
                        <textarea rows="3" class="form-control" required [(ngModel)]="model.businessDescription" name="businessDescription" #businessDescription="ngModel"></textarea>
                        <div *ngIf="businessForm.submitted  && businessDescription.invalid" class="alert alert-danger">
                        <div *ngIf="businessDescription.errors.required">Description is required.</div>
                        </div>
                </div>
        </div>
        <div class="row">            
                <div class=" col-sm-12 form-group ">
                        <label>Services Provided</label>
                        <input type="text" class="form-control" required [(ngModel)]="model.servicesProvided" name="servicesProvided" #servicesProvided="ngModel">
                        <div *ngIf="businessForm.submitted  && servicesProvided.invalid" class="alert alert-danger">
                        <div *ngIf="servicesProvided.errors.required">Services Provided is required.</div>
                        </div>
                </div>
        </div> 
        <hr class="my-4">
        <div class="row">
                <div class=" col-sm-12 form-group">
                        <label>Address Type</label>  
                        <select class="form-control" required (change)="onAddressTypeChange($event)" [(ngModel)]="model.addressType1" name="addressType1" #addressType1="ngModel">
                        <option value="HOME">Home</option>
                        <option value="OFFICE">Office</option>
                        </select>
                        <div *ngIf="businessForm.submitted  && addressType1.invalid" class="alert alert-danger">
                        <div *ngIf="addressType1.errors.required">Address Type is required.</div>
                        </div>
                </div>
       </div>
        <div class="row">
                <div class=" col-sm-12 form-group">
                        <label>Address Line 1</label>  
                        <input type="text" class="form-control address-1" required #addressline1 [(ngModel)]="model.addressLine11" name="addressLine11" #addressLine11="ngModel">
                        <div *ngIf="businessForm.submitted  && addressLine11.invalid" class="alert alert-danger">
                        <div *ngIf="addressLine11.errors.required">Address Line 1 is required.</div>
                        </div>        
                </div>
       </div>  
        <div class="row">
                <div class=" col-sm-12 form-group">
                        <label>Address Line 2</label>
                        <input type="text" class="form-control address-1"  #addressline2 [(ngModel)]="model.addressLine12" name="addressLine12" #addressLine12="ngModel">
                </div>
        </div>
        <div class="row">        
                <div class=" col-sm-12 form-group ">
                        <label>Landmark</label>
                        <input type="text" class="form-control address-1" #landmark [(ngModel)]="model.landmark1" name="landmark1" #landmark1="ngModel" >
                </div>
        </div>  
        <div class="row">
                <div class=" col-sm-6 form-group ">
                        <label>Pin Code</label>
                        <input type="text" class="form-control address-1"  maxlength="6" minlength="6" required #pincode [(ngModel)]="model.pincode1" name="pincode1" #pincode1="ngModel" >
                        <div *ngIf="businessForm.submitted  && pincode1.invalid" class="alert alert-danger">
                        <div *ngIf="pincode1.errors.required">Pincode is required.</div>
                        <div *ngIf="pincode1.errors.minlength">Pincode is less than 6 digits.</div>
                        </div>
                </div>
                <div class=" col-sm-6 form-group ">
                        <label>Country</label>
                        <input type="text" class="form-control address-1"  required #country [(ngModel)]="model.country1" name="country1" #country1="ngModel" >
                        <div *ngIf="businessForm.submitted  && country1.invalid" class="alert alert-danger">
                        <div *ngIf="country1.errors.required">Country is required.</div>
                        </div>
                </div>
        </div>                
        <div class="row">
                <div class=" col-sm-6 form-group ">
                        <label>State</label>
                        <input type="text" class="form-control address-1"  required #state [(ngModel)]="model.state1" name="state1" #state1="ngModel" >
                        <div *ngIf="businessForm.submitted  && state1.invalid" class="alert alert-danger">
                        <div *ngIf="state1.errors.required">State is required.</div>
                        </div>
                </div>
                <div class=" col-sm-5 form-group " id="city_field1">
                        <label>City</label>
                        <input type="text" class="form-control address-1"  required #city [(ngModel)]="model.city1" name="city1" #city1="ngModel" >
                        <div *ngIf="businessForm.submitted  && city1.invalid" class="alert alert-danger">
                        <div *ngIf="city1.errors.required">City is required.</div>
                </div>
                </div>
                <div class=" col-sm-1 form-group " *ngIf="sameAddress!=true" id="another_address"> 
                        <button type="button" class="add-btn" (click)="addAnotherAddress();">
                                <span class="fa fa-plus"></span>
                        </button> 
                </div>
        </div>
        <div class="row mr-auto" *ngIf="replicateAddressCheckbox==true">
                <div class="col-sm-1 form-group"> 
                        <input type="checkbox" (click)="onChangeCheckbox($event,addressline1.value,addressline2.value,landmark.value,pincode.value,country.value,state.value,city.value);"></div>
                        <div class="col-sm-11 form-group"  *ngIf="model.addressType1 =='HOME'">
                        <label > Check if Office Address same as Home Address</label>
                        </div>
                <div class="col-sm-11 form-group" *ngIf="model.addressType1=='OFFICE'">
                        <label > Check if Home Address same as Office Address</label>
                </div>
        </div>      
        <hr class="my-4" *ngIf="officeAddress1==true || sameAddress==true">
        <div class="row" *ngIf="officeAddress1==true || sameAddress==true">
                <div class=" col-sm-12 form-group">
                        <label>Address Type</label>  
                        <select class="form-control" required  id="address_type2" (change)="onAddressTypeChange1($event)" [(ngModel)]="model.addressType2" name="addressType2" #addressType2="ngModel">
                        <option value="HOME">Home</option>
                        <option value="OFFICE">Office</option>
                        </select>
                        <div *ngIf="businessForm.submitted  && addressType2.invalid" class="alert alert-danger">
                        <div *ngIf="addressType2.errors.required">Address Type is required.</div>
                        </div>
                </div>
        </div>
        <div class="row" *ngIf="officeAddress1==true || sameAddress==true">
                <div class=" col-sm-12 form-group">
                        <label>Address Line 1</label>
                        <input type="text" class="form-control address-2" required [(ngModel)]="model.addressLine21" name="addressLine21" #addressLine21="ngModel">
                        <div *ngIf="businessForm.submitted  && addressLine21.invalid" class="alert alert-danger">
                        <div *ngIf="addressLine21.errors.required">Address Line 1 is required.</div>
                        </div>
                </div>
        </div>  
        <div class="row" *ngIf="officeAddress1==true || sameAddress==true">
                <div class=" col-sm-12 form-group">
                        <label>Address Line 2</label>
                        <input type="text" class="form-control address-2" [(ngModel)]="model.addressLine22" name="addressLine22" #addressLine22="ngModel">
                </div>
        </div>
        <div class="row" *ngIf="officeAddress1==true || sameAddress==true">        
                <div class=" col-sm-12 form-group ">
                        <label>Landmark</label>
                        <input type="text" class="form-control address-2" [(ngModel)]="model.landmark2" name="landmark2" #landmark2="ngModel">
                </div>
        </div>  
        <div class="row" *ngIf="officeAddress1==true || sameAddress==true">
                <div class=" col-sm-6 form-group ">
                        <label>Pin Code</label>
                        <input type="text" class="form-control address-2"  maxlength="6" minlength="6" required [(ngModel)]="model.pincode2" name="pincode2" #pincode2="ngModel">
                        <div *ngIf="businessForm.submitted  && pincode2.invalid" class="alert alert-danger">
                        <div *ngIf="pincode2.errors.required">Pincode is required.</div>
                        <div *ngIf="pincode2.errors.minlength">Pincode is less than 6 digits.</div>
                        </div>        
                </div>
                <div class=" col-sm-6 form-group ">
                        <label>Country</label>
                        <input type="text" class="form-control address-2"  required [(ngModel)]="model.country2" name="country2" #country2="ngModel">
                        <div *ngIf="businessForm.submitted  && country2.invalid" class="alert alert-danger">
                        <div *ngIf="country2.errors.required">Country is required.</div>
                        </div>        
                </div>
        </div>                
        <div class="row" *ngIf="officeAddress1==true || sameAddress==true">
                <div class=" col-sm-6 form-group ">
                        <label>State</label>
                        <input type="text" class="form-control address-2"  required [(ngModel)]="model.state2" name="state2" #state2="ngModel">
                        <div *ngIf="businessForm.submitted  && state2.invalid" class="alert alert-danger">
                        <div *ngIf="state2.errors.required">State is required.</div>
                        </div>
                </div>  
                <div class=" col-sm-6 form-group " *ngIf="sameAddress==true">
                        <label>City</label>
                        <input type="text" class="form-control address-2"  required  [(ngModel)]="model.city2" name="city2" #city2="ngModel">
                        <div *ngIf="businessForm.submitted  && city2.invalid" class="alert alert-danger">
                        <div *ngIf="city2.errors.required">City is required.</div>
                        </div>
                </div>
                <div class=" col-sm-5 form-group " *ngIf="sameAddress!=true">
                        <label>City</label>
                        <input type="text" class="form-control address-2"  required [(ngModel)]="model.city2" name="city2" #city2="ngModel">
                        <div *ngIf="businessForm.submitted  && city2.invalid" class="alert alert-danger">
                        <div *ngIf="city2.errors.required">City is required.</div>
                        </div>
                </div>
                <div class=" col-sm-1 form-group " *ngIf="sameAddress!=true"> 
                        <button type="button" class="add-btn" (click)="removeAddress();">
                                <span class="fa fa-remove"></span>
                        </button> 
                </div>
        </div>
        <hr class="my-4">
        <div class="row">
                <div class=" col-sm-6 form-group">
                        <label>Phone Number</label>  
                        <input type="text" class="form-control" minlength="10" maxlength="10" required [(ngModel)]="model.phoneNumber1" name="phoneNumber1" #phoneNumber1="ngModel">
                        <div *ngIf="businessForm.submitted  && phoneNumber1.invalid" class="alert alert-danger">
                        <div *ngIf="phoneNumber1.errors.required">Phone Number is required.</div>
                        <div *ngIf="phoneNumber1.errors.minlength">Phone Number is less than 10 digits.</div>
                        </div>
                </div>
                <div class=" col-sm-5 form-group "> 
                        <label>Phone Type</label>
                        <select type="text" class="form-control"  required ngModel name="phoneNumberType1" #phoneNumberType1="ngModel">
                        <option value="" disabled>Select Type</option>
                        <option value="HOME">HOME</option>
                        <option value="MOBILE">MOBILE</option>
                        <option value="OFFICE">OFFICE</option>
                        </select>
                        <div *ngIf="businessForm.submitted  && phoneNumberType1.invalid" class="alert alert-danger">
                        <div *ngIf="phoneNumberType1.errors.required">
                        Phone Number Type is required.
                        </div>
                        </div>
                </div>
                <div class=" col-sm-1 form-group "> 
                <button type="button" class="add-btn" (click)="addAnotherPhoneNumber();">
                        <span class="fa fa-plus"></span>
                </button> 
                </div>
        </div>
        <div class="row" *ngIf="phonenumber1==true">
                <div class=" col-sm-6 form-group">
                                <label>Phone Number</label>  
                                <input type="text" class="form-control" required minlength="10" maxlength="10" [(ngModel)]="model.phoneNumber2" name="phoneNumber2" #phoneNumber2="ngModel">
                                <div *ngIf="businessForm.submitted  && phoneNumber2.invalid" class="alert alert-danger">
                                <div *ngIf="phoneNumber2.errors.required">Phone Number is required.</div>
                                <div *ngIf="phoneNumber2.errors.minlength">Phone Number is less than 10 digits.</div>
                                </div>
                </div>
                <div class=" col-sm-5 form-group "> 
                        <label>Phone Type</label>
                        <select type="text" class="form-control"  required ngModel name="phoneNumberType2" #phoneNumberType2="ngModel">
                        <option value="" disabled>Select Type</option>
                        <option value="HOME">HOME</option>
                        <option value="MOBILE">MOBILE</option>
                        <option value="OFFICE">OFFICE</option>
                        </select>
                        <div *ngIf="businessForm.submitted  && phoneNumberType2.invalid" class="alert alert-danger">
                        <div *ngIf="phoneNumberType2.errors.required">Phone Number Type is required.</div>
                        </div>
                </div>
                <div class=" col-sm-1 form-group "> 
                <button type="button" class="add-btn" (click)="removePhoneNumber1();">
                        <span class="fa fa-remove"></span>
                </button> 
                </div>
        </div>
        <div class="row" *ngIf="phonenumber2==true">
                <div class=" col-sm-6 form-group">
                        <label>Phone Number</label>  
                        <input type="text" class="form-control" minlength="10" maxlength="10" required [(ngModel)]="model.phoneNumber3" name="phoneNumber3" #phoneNumber3="ngModel">
                        <div *ngIf="businessForm.submitted  && phoneNumber3.invalid" class="alert alert-danger">
                        <div *ngIf="phoneNumber3.errors.required">Phone Number is required.</div>
                        <div *ngIf="phoneNumber3.errors.minlength">Phone Number is less than 10 digits.</div>
                        </div>
                </div>
                <div class=" col-sm-5 form-group "> 
                        <label>Phone Type</label>
                        <select type="text" class="form-control"  required ngModel name="phoneNumberType3" #phoneNumberType3="ngModel">
                        <option value="" disabled>Select Type</option>
                        <option value="HOME">HOME</option>
                        <option value="MOBILE">MOBILE</option>
                        <option value="OFFICE">OFFICE</option>
                        </select>
                        <div *ngIf="businessForm.submitted  && phoneNumberType3.invalid" class="alert alert-danger">
                        <div *ngIf="phoneNumberType3.errors.required">Phone Number Type is required.</div>
                        </div>
                </div>
                <div class=" col-sm-1 form-group "> 
                <button type="button" class="add-btn" (click)="removePhoneNumber2();">
                        <span class="fa fa-remove"></span>
                </button> 
                </div>
        </div>
        <hr class="my-4">
        <div class="row">  
                <div class="col-sm-12 form-group">
                        <label>Username</label>  
                        <input type="text" class="form-control" required [(ngModel)]="model.username" name="username" #username="ngModel">
                        <div *ngIf="businessForm.submitted  && username.invalid" class="alert alert-danger">
                        <div *ngIf="username.errors.required">
                        User Name is required.
                        </div>
                </div>
        </div>
        </div>       
        <div class="row">
                <div class="col-sm-12 form-group">
                        <label>Password</label>
                        <input type="password" class="form-control"  required [(ngModel)]="model.password" name="password" #password="ngModel">
                        <div *ngIf="businessForm.submitted  && password.invalid" class="alert alert-danger">
                        <div *ngIf="password.errors.required">
                        Password is required.
                        </div>
                        </div>
                </div>
        </div>
        <div class="row">    
                <div class="col-sm-12 form-group">
                        <label>Confirm your Password</label>
                        <input type="password" class="form-control" required [(ngModel)]="model.confirmPassword" name="confirmPassword" #confirmPassword="ngModel">
                        <div *ngIf="businessForm.submitted  && confirmPassword.invalid" class="alert alert-danger">
                        <div *ngIf="confirmPassword.errors.required">Confirm Password is required.</div>
                        <div *ngIf="confirmPassword.errors.mustMatch">Passwords must match</div>
                </div>
        </div>
        </div>    
        <div class="row mr-auto">
                <div class="col-sm-12 form-group"> 
                <input type="checkbox" class="mr-3" required [(ngModel)]="model.agreeTandC" name="agreeTandC" #agreeTandC="ngModel">
                <label > I agree <a href="#">terms and conditions</a> of service.</label>
                <div *ngIf="businessForm.submitted  && agreeTandC.invalid" class="alert alert-danger">
                <div *ngIf="agreeTandC.errors.required">Read and check the terms and condition checkbox.</div>
                </div>   
                </div>     
        </div> 
                <button class="btn btn-lg btn-primary btn-block text-uppercase mx-auto" type="submit" >Sign Up</button>
        </form>
        <hr class="my-4">
        <div class="text-center">
                Already have an account? <a  [routerLink]="'/login'">Log In</a>        
        </div>
        <hr class="my-4">
        </div>
        </div>
        </div>
</div>
<div class="container emp-profile" *ngIf="router.url == '/business'">
<form>
        <div class="row">
                <div class="col-sm-6">
                        <div class="ml-5">
                        <div class="row mb-5">
                                <img src="#" alt="book the event" style="width:220px;">
                        </div>
                </div>
                </div>        
                <div class="col-md-6">
                        <div class="tab-content">
                        <div class="tab-pane fade show active">
                                <div class="row mr-auto">    
                                        <!-- TODO: Edit button functionality-->
                                        <button type="button" class="edit-btn btn btn-outline-dark ml-auto " (click)="editBusinessProfile();" >Edit Profile</button>
                                </div>
                                
                        </div>
                        </div>
                </div>
        </div>
        <br>
        <div class="row">
        <div class="col-sm-6">
                <div class="ml-5">
                        <div class="row mb-3">
                                Welcome,
                        </div> 
                        <div class="row">
                                <h4>{{business_name}}</h4>
                        </div> 
                        <div class="row">
                        <h6><strong><em>{{business_type}}</em></strong></h6>
                        </div>
                        <br>
                        <div class="row">
                        <h6><strong>Address: </strong></h6>
                        </div>
                        <div class="row">
                        <h6>{{business_addressline1}} </h6>
                        </div>
                        <div class="row">
                        <h6>{{business_addressline2}} </h6>
                        </div>
                        <div class="row">
                        <h6>{{business_landmark}} </h6>
                        </div>
                        <div class="row">
                        <h6>{{business_city}}, {{business_state}} </h6>
                        </div>
                        <div class="row">
                        <h6>{{business_country}} - {{business_pincode}}</h6>
                        </div>
                        <br>
                        <div class="row">
                        <h6><strong>Phone Number: </strong></h6>
                        </div>
                        <div class="row">
                        <h6>{{business_phone_number1}},{{business_phone_number2}}</h6>
                        </div>
                </div>
                
                
        </div>
        <div class="col-md-6">
                <div class="tab-content" *ngIf="editprofile_btn==true">
                <div class="tab-pane fade show active">
                        <br>        
                        <div class="row">
                        <div class="col-sm-4">
                                <label>Business Name</label>
                        </div>
                        <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{business_name}}">
                        </div>
                        </div>
                        <br>
                        <div class="row">
                        <div class="col-sm-4">
                                <label>Description</label>
                        </div>
                        <div class="col-sm-8">
                                <textarea type="text" class="form-control" value="{{business_description}}"></textarea>
                        </div>
                        </div>
                        <br>
                        <div class="row">
                        <div class="col-sm-4">
                                <label>Address</label>
                        </div>
                        <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{business_addressline1}},{{business_addressline2}}">
                                <input type="text" class="form-control" value="{{business_landmark}}">
                                <input type="text" class="form-control" value="{{business_city}},{{business_state}}">
                                <input type="text" class="form-control" value="{{business_country}} - {{business_pincode}}">
                        </div>
                        </div>
                        <br>
                        <div class="row">
                        <div class="col-sm-4">
                                <label>Phone Number</label>
                        </div>
                        <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{business_phone_number1}},{{business_phone_number2}}">
                        </div>
                        </div>
                        <br>
                        <div class="row">
                        <div class="col-sm-4">
                                <label>Services Provided</label>
                        </div>
                        <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{services_provided}}">
                        </div>
                        </div>
                </div>
                </div>
        </div>
        <div class="col-sm-2"></div>
        </div>
</form>           
</div>