<div class="container">
        <div class="card mx-auto">
                <div class="row">
                        <div class="col-sm-12">
                               <h5 class="card-title text-center font-weight-bold ">LOG IN</h5>

                        </div>
                </div>
                <div class="row row-divided">
                <div class="col-sm-6 column-one">
                        <div class="row">
                                <div  class="col-sm-12">
                                <h5 class="card-title text-center font-weight-bold ">Business</h5>
                        </div>
                        </div>
                        <div class="row">
                                <div  class="col-sm-12">
                                <p>Login and find your next Celebration job.</p>
                        </div>
                        </div>
                        <button type="button" class="btn btn-outline-info btn-sm font-weight-bold " 
                                [routerLink]="'/login/business'">Log In</button>
                        </div>
                        <div class="col-sm-6 column-two">
                                <div class="row">
                                <div  class="col-sm-12">
                                <h5 class="card-title text-center font-weight-bold ">Customer</h5>
                                </div>
                                </div>
                                <div class="row">    
                                <div  class="col-sm-12">     
                                <p>Login to post a celebration need and find Business or Vendors.</p>
                                </div>
                                </div>
                                <button type="button" class="btn btn-outline-info btn-sm font-weight-bold " 
                                        [routerLink]="'/login/customer'">Log In</button>
                        </div>
                </div>   
                <hr class="my-4">
                <div class="text-center">
                        Don't have an account? <a  [routerLink]="'/register'">Sign Up</a>        
                </div> 
        </div>
</div>