a, a:active, a:focus{
    outline: none;
    text-decoration: none;
  }
.uppercase {
    text-transform: uppercase;
  }  
.capitalize {
  text-transform: capitalize;
} 
.fa-window-close-o{
  color: red;
}