<div id="demo" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
    <div class="carousel-item active">
    <img src="/assets/images/1.jpg" alt="Wedding">
    </div>
    <div class="carousel-item">
    <img src="/assets/images/2.jpg" alt="Birthday">
    </div>
    <div class="carousel-item">
    <img src="/assets/images/3.png" alt="DJ">
    </div>
    <div class="carousel-item">
    <img src="/assets/images/4.jpg" alt="Makeup" >
    </div>
    <div class="carousel-item">
    <img src="/assets/images/5.jpg" alt="Decor">
    </div>
    <div class="carousel-item">
    <img src="/assets/images/6.jpg" alt="Cakes" >
    </div>
</div>
   <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
    <div class="carousel-caption">
        <div class="text-center text-wrap font-weight-bold" >
            <h3>Find perfect vendor for your Celebration?</h3>
        </div>
        <div class="row carousel-element">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-light btn-sm btn-block mh-100 font-weight-bold " 
                [routerLink]="'/register/business'">Business Sign Up</button></div>
            <div class="col-sm-4 ">
                <button type="button" class="btn btn-light btn-sm btn-block mh-100 font-weight-bold" 
                [routerLink]="'/findbusiness'">Find Business</button></div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>
  
