.carousel-caption {
    top: 35%;
    bottom: 10%;
}
.carousel-element {
    top: 40%;
    bottom: 10%;
    padding: 5%;
}
button{
    padding: 5%;
    margin: 3%;
}
.carousel-inner img {
    width: 100%;
    height: 550px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top:0%;
    padding-bottom:0%;
}
h2 {
    font-weight: bolder;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
}
.btn{
    border-radius: 5rem;
    font-size: 90%;
}
.col-sm-4{
    padding-left:5%;
    padding-right: 5%;
}