<div style="color:antiquewhite;">
<div class="carousel slide block1" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item">
        <img src="/assets/images/celebration.jpg" alt="Wedding" class="fill">
        </div>
        <div class="carousel-item active">
        <img src="/assets/images/bakes.jpg" alt="Bakes" class="fill">
        </div>
        <div class="carousel-item">
        <img src="/assets/images/dj.jpg" alt="DJ" class="fill">
        </div>
        <div class="carousel-item">
        <img src="/assets/images/bridal.jpg" alt="Makeup" class="fill">
        </div>
        <div class="carousel-item">
        <img src="/assets/images/decoration.jpg" alt="Decor" class="fill">
        </div>
        <div class="carousel-item">
        <img src="/assets/images/cake.jpg" alt="Cakes" class="fill">
        </div>
        <div class="carousel-item">
        <img src="/assets/images/chairs_decoration.jpg" alt="Chair-Decor" class="fill">
        </div>
        <div class="carousel-item">
        <img src="/assets/images/bar.jpg" alt="Bar" class="fill">
        </div>
    </div>
   <a class="carousel-control-prev" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
    <div class="carousel-caption">
        <div class="text-center text-wrap font-weight-bold" >
            <h2 class="animated fadeInUp">Find perfect vendor for your Celebration?</h2>
        </div>
        <div class="row carousel-element">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-transparent btn-block btn-rounded btn-sm animated fadeInLeft mx-auto" 
                [routerLink]="'/register/business'">Business Sign Up</button></div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-transparent btn-block btn-rounded btn-sm animated fadeInRight mx-auto" 
                [routerLink]="'/findbusiness'">Book a Vendor</button></div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>
<br>
<br>
<div class="container vision-block pxy-5">
    <div class="row">
        <h3 class="mx-auto font-weight-bold bounceOutAnimation py-5">OUR VISION</h3>
    </div>
    <br>
    <div class="row">
    <br>
            <div class="col-sm-12 para-vision pxy-5">
            <p class="text-justify pt-1">
                You own a small business? And want to advertise your business for free? Alright! 
                You are at the right place. Come and sign up for the free business account with 
                proper business description and make your business a success.
            </p>
            <p class="text-justify">
            You want to celebrate a birthday party? And you want to find the right business vendors
             to organise your party? Okay, let us help you!!!
            </p>
            <p class="text-justify pb-5">
            We want to make your event or celebration a success by giving the ability to 
            search for the top small business vendors near your area. It is always tough to 
            find the right vendors for your event, here we will take all the stress to sort out 
            the vendors list with the minimum information provided by you.
            </p>
        </div>
        </div>
</div>  
<br><br>  
<div class="container business-block" >
    <div class="row">
        <h3 class="mx-auto font-weight-bold  animated fadeInDown pt-5 text-center">BUSINESS AND IT'S PLAN</h3>
    </div>
    <br><br>  
    <div class="row mx-auto">
    <div class="col-sm-4 block-cards mx-auto">
        <div class="col-sm-12 block-cards-body" style="animation: color-me-in3 5s infinite;">
        <div class="row"><h4 class=" mx-auto">Register Business</h4></div>
        <div class="row text-center mt-3">Get your business registered with all necessary details.</div>
        </div>
    </div>
    <div class="col-sm-4 block-cards mx-auto">
        <div class="col-sm-12 block-cards-body" style="animation: color-me-in0 5s infinite;">
        <div class="row"><h4 class=" mx-auto">Get Orders</h4></div>
        <div class="row text-center mt-3">Get orders of hosting celebrations and events.</div>
        </div>
    </div>    
    <div class="col-sm-4 block-cards mx-auto">
        <div class="col-sm-12 block-cards-body" style="animation: color-me-in3 5s infinite;">
        <div class="row"><h4 class=" mx-auto">Receive Payments</h4></div>
        <div class="row text-center mt-3">Get payments for your services as per your convienence.</div>
    </div>    
    </div>
    </div>
</div>               
<br><br>
<div class="container customer-block">
    <div class="row">
        <h3 class="mx-auto font-weight-bold animated fadeInLeft text-center">EVENT SEARCH AND PLAN</h3>
    </div>
    <br><br>
    <div class="row mx-auto">
    <div class="col-sm-4 block-cards mx-auto">
    <div class="col-sm-12 block-cards-body" style="animation: color-me-in0 5s infinite;">
        <div class="row"><h4 class="mx-auto">Register Customer</h4></div>
        <div class="row text-center mt-3">Get yourself registered as Customer with all necessary details.</div>
        </div>
    </div>
    <div class="col-sm-4 block-cards mx-auto">
        <div class="col-sm-12 block-cards-body" style="animation: color-me-in3 5s infinite;">
        <div class="row"><h4 class=" mx-auto">Event Search</h4></div>
        <div class="row text-center mt-3">Search according to your celebrations and events.</div>
        </div>
    </div>    
    <div class="col-sm-4 block-cards mx-auto">
        <div class="col-sm-12 block-cards-body" style="animation: color-me-in0 5s infinite;">
        <div class="row"><h4 class=" mx-auto">Book Services</h4></div>
        <div class="row text-center mt-3">Book services and get all services under one roof.</div>
        </div>
    </div>  
    </div>  
</div>      
</div>
