.carousel-inner img{
    width: 100%;
    min-height: 30em;
    max-height: 45em;
    padding-left: 5%;
    padding-right: 5%;
}
.carousel-caption{
  padding-bottom:12em;
}
h2{
  font-size:2.5em; 
  font-weight: bold;
  font-family: 'Merienda', cursive;
}
.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    opacity:0.8;
}
.btn-transparent {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}
.btn-transparent:hover {
  background-color: hsl(232, 100%, 4%,0.6);
}
.btn-rounded {
  border-radius: 70px;
}
.btn-sm{
  padding: 10px 10px;
  font-size: 16px;
  font-weight: bolder;
  width:90%;
}
.col-sm-4{
    padding: 5%;
}
.para-vision{
  padding-left:15%;
  padding-right:15%;
  font-size: 20px;
  font-family: 'Verdana';
} 
.vision-title{
font-family: 'Arial';
}
.vision-block{
  padding:1%;
  background: 
   linear-gradient(#84d438 , #84d438) top left/ 10% 0.25em,
   linear-gradient(#84d438, #84d438) bottom right / 10% 0.25em,
   linear-gradient(#84d438, #84d438) left top/ 0.25em 15% ,
   linear-gradient(#84d438, #84d438) right bottom / 0.25em 15%;
  background-repeat:no-repeat;
}
.block-cards{
  margin: 2%;
  padding: 2%;
}
.block-cards h4{
  font-weight: bold;
  font-size: 20px;
}
.block-cards-body{
  padding: 15%;
  padding-top: 20%;
  border-radius: 2em;
  height: 280px;
  text-align: center;
  border-radius: 2em;
}
.customer-block{
  padding: 0%;
}
.business-block{
  padding: 0%;
}
.carousel{
  padding-bottom: 10em;
}