.carousel-caption {
    top: 35%;
    bottom: 10%;
}
.carousel-element {
    top: 40%;
    bottom: 10%;
    padding: 5%;
}
button{
    padding: 5%;
    margin: 3%;
    
}
.carousel-inner img {
    width: 100%;
    height: 550px;
    
}
h3 {
    font-weight: bolder;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
    text-shadow: 5px -5px 5px #000000;
 }