.row {
  padding: 2%;
}
.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
padding: 30px;
text-align: center;
}
.btn{
  border-radius: 5rem;
  font-size: 90%;
  padding:2%;
  width:40%;
}
.p{
  padding: 5%;
}
.vertical-divider {
  position: absolute;
  z-index: 10;
  top: 40%;
  left: 50%;
  margin: 0;
  padding: 0;
  width: auto;
  height: 100%;
  line-height: 0;
  text-align:center;
  text-transform: uppercase;
  transform: translateX(-50%);
}
.vertical-divider:before, 
.vertical-divider:after {
  position: absolute;
  left: 50%;
  content: '';
  z-index: 9;
  border-left: 1px solid rgba(34,36,38,.15);
  border-right: 1px solid rgba(255,255,255,.1);
  width: 0;
  height: calc(100% - 1rem);
}
.row-divided > .vertical-divider {
  height: calc(50% - 1rem);    
}
.vertical-divider:before {
  top: -100%;
}
.vertical-divider:after {
  top: auto;
  bottom: 0;
}

.row-divided {
  position:relative;
}
.row-divided > [class^="col-"],
.row-divided > [class*=" col-"] {
  padding-left: 15px; 
  padding-right: 15px; 
}
.column-one,.column-two{
height: 230px;
}