<div class="container">
        <div class="card mx-auto">
                <h5 class="ml-auto"><a href="/" class="fa fa-window-close-o"></a></h5>
                <div class="row">
                        <div class="col-sm-12">
                                <h5 class="card-title text-center font-weight-bold ">SIGN UP FREE ACCOUNT</h5>
                        </div>
                </div>
                <div class="row row-divided">
                <div class="col-sm-6 column-one">
                        <div class="row">
                                <div  class="col-sm-12">
                                <h5 class="card-title text-center font-weight-bold ">Business</h5>
                        </div>
                        </div>
                        <div class="row">
                                <div  class="col-sm-12">
                                <p>Create your professional profile and find your next Celebration job.</p>
                        </div>
                        </div>
                        <button type="button" class="btn btn-outline-info btn-sm font-weight-bold " 
                                [routerLink]="'/register/business'">Sign Up</button>
                        </div>
                        
                        <div class="col-sm-6 column-two">
                                <div class="row">
                                <div  class="col-sm-12">
                                <h5 class="card-title text-center font-weight-bold ">Customer</h5>
                                </div>
                                </div>
                                <div class="row">    
                                <div  class="col-sm-12">     
                                <p>Post a celebration need, find Business or Vendors and Book the best.</p>
                                </div>
                                </div>
                                <button type="button" class="btn btn-outline-info btn-sm font-weight-bold" 
                                        [routerLink]="'/register/customer'">Sign Up</button>
                        </div>
                </div>   
                <hr class="my-4">
                <div class="text-center">
                        Already have an account? <a  [routerLink]="'/login'">Log In</a>        
                </div> 
        </div>
</div>